<!-- 顶部导航 -->
<div class="navbar navbar-fixed-top main-nav navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="" class="navbar-brand navbar-brand-my">
				SMST
			</a>
		</div>
		<div class="collapse navbar-collapse navbar-responsive-collapse" aria-expanded="false">
			<ul class="nav navbar-nav">
				<li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">1</a></li>
				<li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">2</a></li>
				<li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">3</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- 主体内容区域 -->
<div class="container main-container">
	<div class="nav-colllapse collapse">
		<ul>
			<li>
				<div class="sidebar-toggler hidden-phone"></div>
			</li>
			<li class="start active">
				<a href="#">
					<i class="icon-home"></i>
					<span class="title">Dashboard</span>
					<span class="selected"></span>
				</a>
			</li>
		</ul>
	</div>
</div>

<!-- 底部区域 -->
<div class="footer bs-footer">
	<div class="container">
		<div class="row">
			<p>
				Powered by <a href="http://git.oschina.net/memu-osc/NiceFish" target="_blank">SMST</a>
			</p>
		</div>
	</div>
</div>